[Unit]
Description=Run script to update CloudFlare DNS
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Type=oneshot
Environment="CF_DOMAIN=your.domain.tld"
ExecStart=/opt/CloudflareDDNS/aws_ddns.sh
WorkingDirectory=/opt/CloudflareDDNS

[Install]
WantedBy=multi-user.target
